body{
	background-color: dimgray;
}

.contentblock{
	/* The totalheight of this 'row' should be set as smartscroll rowheight (100 by default!) */
	height: 99px;
	border-top: 1px solid black;
    width: 100%;
}

.list-container{
	margin-top: 50px;
	margin-left: 50px;
	margin-right: 50px;
	background-color: white;
}

/* You should define this one */

.smsc_active_row{
    background-color: beige;
 }

/* NEEDED ONES */

.smsc_wrap{
	position: relative;
	overflow: hidden;
}

.smsc_attic{
	position: absolute;
	display: none;
}

.smsc_key_capture{
    position: absolute;
    top: -20px;
    width: 10px;
    height: 10px;
}

.smsc_sp{
	overflow: auto;
	position: relative;
}

.smsc_faker{
	position: absolute;
	width: 1px;
}
